
<div class="thumb">
　<% if @user.image? %>
　　<%= image_tag @user.image.thumb.url, class: "img-responsive" %>
　<% else %>
　　<%= image_tag 'noimage.gif' %>
　<% end %>
</div>
<div class="name text-center">
 <h1><%= @user.name %></h1>
</div>

<div class="panels">
    <div class="panel good-count-panel text-center" >
     <span>10</span><br>いいね
    </div>
  
    
  
    <div class="panel ranking-panel text-center">
      <p>2位</p>
    </div>
  
</div>

