<% content_for :cover do %>    
    <div class="jumbotron">
        <div class="container">
            <div class="text-center">
                <h1>キャッチフレーズ</h1>
                <% unless login? %>
                 <%= link_to "新規登録", new_user_path, class: "btn btn-primary btn-lg" %>
                <% end %>
                 
            </div>
        </div>
      
    </div>
    
<% end %>
