/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{background-color: #99FF66;
        border-color: #99FF66;
        margin-bottom: 100px;
        
}
footer{
        background-color: #99FF66;
        margin-top: 300px;
        
}
.container{ margin-top: 70px;
    
}


.thumb img{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: block;
        margin: 0 auto;
        
        
}




.name h1{
        font-size: 30px;
        font-weight: bold;
        border-bottom: 2px solid black;
        padding-bottom: 3px;
        display: inline;
        
    
}

.panels{
        text-align: center;
        margin-top: 50px;
        .panel{
        display: inline-block;
        background-color: #F0FFF0;
        width: 100px;
        height: 100px;
        border: 3px solid #32CD32;
        vertical-align: top;
       
        }
        
        
}


.good-count-panel{
        margin-right: 60px;
        font-size: 20px;
        font-weight: bold;
        span{
                font-size: 40px;
        }
        
       
        
}

.ranking-panel{
        font-size: 35px;
        font-weight: bold;
        p{
                height: 100%;
                line-height: 94px;
        }
        
        
        
       
       
        
        
}




